{% extends 'base.html' %}
{% block content %}
<h2>Рецензия на книгу «{{ book.title }}»</h2>
<form method="POST">
    <div class="mb-3">
        <label>Оценка</label>
        <select name="rating" class="form-select w-25" required>
            <option value="5" selected>5 – отлично</option>
            <option value="4">4 – хорошо</option>
            <option value="3">3 – удовлетворительно</option>
            <option value="2">2 – неудовлетворительно</option>
            <option value="1">1 – плохо</option>
            <option value="0">0 – ужасно</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Текст рецензии</label>
        <textarea name="text" id="markdown-editor" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    const easyMDE = new EasyMDE({element: document.getElementById('markdown-editor')});
</script>
{% endblock %}